<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d %-5p [%t] %c{1.} : %m%n</Property>
        <Property name="APP_LOG_ROOT">/opt/soft/digid/logs/digid-service</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <Appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
            <param name="DatePattern" value="'.'yyyy-MM-dd" />
        </Appender>

        <RollingFile name="file"
                     fileName="${APP_LOG_ROOT}/digid-service.log"
                     filePattern="${APP_LOG_ROOT}/digid-service-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="50" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
        <Logger name="org.springframework.cache" level="trace" additivity="false">
            <appender-ref ref="Console" />
        </Logger>
        <Logger name="net.sf.ehcache" level="trace" additivity="false">
            <appender-ref ref="Console" />
        </Logger>
    </Loggers>
</Configuration>