<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <!-- Properties Files -->
    <module name="UniqueProperties">
        <property name="fileExtensions" value="properties"/>
    </module>

    <!-- Java Files -->
    <module name="TreeWalker">
        <!-- Class Design -->
        <module name="OneTopLevelClass"/>

        <!-- Coding -->
        <module name="OneStatementPerLine"/>

        <!-- Imports -->
        <module name="AvoidStarImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!-- Miscellaneous -->
        <module name="ArrayTypeStyle"/>
        <module name="OuterTypeFilename"/>
        <module name="UpperEll"/>

        <!-- Modifiers -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="FinalLocalVariable">
            <property name="tokens" value="VARIABLE_DEF,PARAMETER_DEF"/>
        </module>
        <!-- LineLength -->
        <!-- https://github.com/checkstyle/checkstyle/blob/33304206fb5b2f10c832cbc2e9d5d373280f6d9d/src/main/resources/google_checks.xml -->
        <!--<module name="LineLength">
            <property name="fileExtensions" value="java"/>
            <property name="max" value="100"/>
            <property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
        </module>-->

    </module>

</module>